<div class="row">
    <form class="form-horizontal" ng-submit="refreshChart();">
        <div class="row">
            <div class="col-md-4">
                <label for="inputDrug" class="control-label">Drug</label>
                <select ui-select2 ng-model="search.drug" style="width:100%" class="form-control input-sm" data-placeholder="Select a Drug">
                    <option value=""></option>
                    <option ng-repeat="drug in drugs">{{drug}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputFromDate" class="control-label">From Date</label>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdownFromDate" role="button" data-toggle="dropdown" data-target="#">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" data-ng-model="search.fromDate" datetime-formater="MM/dd/yyyy" placeholder="From Date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="search.fromDate" data-datetimepicker-config="{ dropdownSelector: '#dropdownFromDate',minView:'day'}" />
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <label for="inputToDate" class="control-label">To Date</label>
                <div class="dropdown">
                    <a class="dropdown-toggle" id="dropdownToDate" role="button" data-toggle="dropdown" data-target="#">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" data-ng-model="search.toDate" value="toDate" datetime-formater="MM/dd/yyyy" placeholder="To Date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="search.toDate" data-datetimepicker-config="{ dropdownSelector: '#dropdownToDate', minView:'day' }" />
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="inputReportedSource" class="control-label">Reported Source</label>
                <select class="form-control input-sm" ng-model="search.ReportedSource">
                    <option selected value="">Select Reported Source</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputCountry" class="control-label">Country</label>
                <select ui-select2 ng-model="search.country" class="form-control input-sm" style="width:100%" data-placeholder="Select a Country">
                    <option value=""></option>
                    <option ng-repeat="country in countries" value="country.code">{{country.name}}</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputSeverity" class="control-label">Severity</label>
                <select class="form-control input-sm" ng-model="search.severity">
                    <option selected value="">Select Severiity</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="inputGender" class="control-label">Gender</label>
                <select ng-model="search.gender" class="form-control input-sm">
                    <option value="">Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Unknown">Unknown</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputReaction" ng-model="search.reaction" class="control-label"><input type="radio" name="radioReaction" ng-model="radioReaction" value="reaction" checked /> Reaction</label>
                <select class="form-control input-sm" ng-model="selectedReaction" ui-select2 data-placeholder="Select Reaction" ng-disabled="radioReaction === 'indication'">
                    <option value=""></option>
                    <option>ARTHRALGIA</option>
                    <option>OEDEMA PERIPHERAL</option>
                    <option>PURPURA</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="inputIndication" class="control-label" ng-model="search.indication"><input type="radio" name="radioReaction" ng-model="radioReaction" value="indication" /> Indication</label>
                <select class="form-control input-sm" ng-model="selectedIndication" ui-select2 data-placeholder="Select Indication" ng-disabled="radioReaction === 'reaction'">
                    <option value=""></option>
                    <option>PYELONEPHRITIS</option>
                    <option>RHEUMATOID ARTHRITIS</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <label for="inputAge" class=" control-label" ng-model="search.age">Age</label>
                <select class="form-control input-sm" ng-model="selectedIndication" ui-select2 data-placeholder="Select Age">
                    <option value=""></option>
                    <option>Less than 20</option>
                    <option>20 - 30</option>
                    <option>31 - 40</option>
                </select>
            </div>
            <div class="col-xs-12 col-md-8 text-right">
                <br />
                <button type="submit" class="btn btn-primary btn-sm">Search</button>
            </div>
        </div>
        <br />
    </form>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="eventChart"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Drug Names</th>
                            <th>Reactions/Indication</th>
                            <th>Count</th>
                            <th>Recalls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="drug in drugDetails">
                            <td>{{drug.drugName}}</td>
                            <td>{{drug.reaction}}</td>
                            <td>{{drug.count}}</td>
                            <td class="col-md-2"><a href="#">Link to reaction</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
