<div class="container" ng-cloak>
    <p><span style="font-size:12px;line-height:1;">dAnalytics compiles drug adverse event data from the U.S. Food and Drug Administration (<a href="https://open.fda.gov">https://open.fda.gov</a>).  We have analyzed about 10 million drug adverse events from the last 10 years, between 2004 and 2014. Search here to look for specific drug's events and related data.</span></p>
</div>

<ng-include src="'views/tpl/filter.html'"></ng-include>

<div class="row">
    <div class="col-md-10">
        <div id="eventInformation">
            <div id="eventGraphPanel">
                <div class="">
                    <div id="eventChart"></div>
                </div>
                <div id="dateSlider" style="margin-top:-20px;margin-left:50px;margin-right:15px"></div>
                <div class="text-left" style="font-size:9px;margin-left:50px;margin-top:-10px"><i>* Please adjust dates on the slider to focus on the graph</i></div>
            </div>
        </div>
        <div id="noDataLabel" class="text-center" style="position:relative;top:-250px;display:none">No events found for this criteria</div>
        <div class="text-center" id="adverselabel" style="position:relative;top:-370px;" title="Zero event count is not considered for plotting the graph.">Adverse event {{selectedSearch === '' ? 'report' : 'reported'}} {{selectedSearch}}</div>
        <div id="spikeInformation" style="display:none">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hideSpikeInformatrion();" style="margin-top:-15px;font-size:14px;color:#000000"><span aria-hidden="true">&times; Close</span></button>

            <div class="row">
                <div class="col-md-4">
                    <div id="ageGroupPie"></div>
                </div>
                <div class="col-md-4">
                    <div id="wightGroupPie"></div>
                </div>
                <div class="col-md-4">
                    <div id="genderGroupPie"></div>
                </div>
                <!--<div class="col-md-3">
                    <div id="countryPie"></div>
                </div>-->
            </div>
        </div>
        <div class="text-center" id="spikelabel" style="position:relative;top:-330px;display:none" title="Monthly adverse event distribution by Age, Weight and Gender">Monthly adverse event distribution by Age, Weight and Gender</div>
        <div class="text-center chart-loading" ng-if="chartLoading">
            <img src="/assets/images/loading.gif" /> Loading...
        </div>
    </div>

    <div class="col-md-2" ng-if="selectedSearch !== '' && search.selectedDrug">
        <div class="row text-center">
            <strong>Adverse event spike</strong>
            <div style="font-size:9px" class="text-primary">Please click on the link for distribution by Age, Weight and Gender.</div>
        </div>
        <br />
        <div style="max-height:350px;overflow-y:auto">
            <ul class="list-group">
                <li class="list-group-item" style="cursor:pointer;text-decoration:underline" ng-repeat="spike in drugEventSpikeList" ng-if="$index <= 4" ng-click="showSpikeInformatrion(spike.spikeDate);"><a name="spike{{$index}}">{{ spike.spikeDate | timezoneFormat:'MMM YYYY'}}</a> <span class="badge">{{spike.eventCount}}</span></li>
                <li class="list-group-item" ng-if="!drugEventSpikeList || drugEventSpikeList.length <= 0"><span ng-if="!search.selectedDrug">Select Drug to list spikes</span><span ng-if="search.selectedDrug">No data found</span></li>
            </ul>
        </div>
        <div class="row text-center">
            <small>*for the period 2004 to 2014</small>
        </div>
    </div>
</div>

<div ng-if="selectedSearch !== '' && search.selectedDrug">

    <ng-include src="'views/tpl/recallinformation.html'"></ng-include>

    <ng-include src="'views/tpl/reactioninformation.html'"></ng-include>
    <br />
    <ng-include src="'views/tpl/emergencyinformation.html'"></ng-include>

</div>

<div ng-if="!search.selectedDrug" class="row text-primary text-center">
    <label>Select a drug to see additional data.</label>
</div>

<div class="container" ng-cloak style="padding-top:20px">
    <p><b style="font-size:12px">Disclaimer:</b> <span style="font-size:12px">The charts and reports displayed on this site are created using data obtained from the <a href=" https://open.fda.gov/" target="_blank">Open FDA</a> API endpoints. This tool may not display all available fields or data. Since the tool dynamically calls the openFDA api's some fields or data may not display as intended, when this occurs data may not be returned from an API query. Please visit the <a href=" https://open.fda.gov/" target="_blank">open.fda.gov</a> website to review their disclaimer and to understand the API specifications, data limitations and warnings of their API and data. This website is not affiliated with the FDA or openFDA project.</span></p>
    <p style="font-size:12px;font-style:italic">Developed by <a href="http://tpgsi.com/" target="_blank">TurningPoint Global Solutions LLC</a> for GSA agile delivery service request for the quotation - 4QTFHS150004</p>
</div>
<div class="row text-right">
    <a href="http://tpgsi.com/" target="_blank"><img src="/assets/images/tplogo.jpg" alt="TurningPoint Global Solutions" /></a>
</div>
