
.regionYellow {
    fill: #FE8418;
}

.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 500px;
    max-width: 400px;
}

.autocomplete-match {
    color: #2fa4e7;
}

.advanced-search {
    color: #2fa4e7;
}

.less-search {
    color: #b1dbf3;
}



.navbar-brand {
    float: left;
    height: 64px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 20px;
    background: #FFFFFF;
}

    .navbar-brand:hover {
        background: #FFFFFF;
    }

.navbar {
    border-bottom: 0px;
}

.navbar-brand {
    position: absolute;
    left: 15px;
    text-align: center;
    margin: auto;
}

@media screen and (min-width: 768px) {

    .negative-margin {
        margin-left: -15px;
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand {
        left: 0px;
    }
}


.chart-loading {
    background: #FFF;
    min-height: 305px;
    margin-top: 150px;
    position: absolute;
    top: -150px;
    padding-top: 150px;
    width: 100%;
}

.nav.navbar-nav.navbar-right {
    margin-top: 5px;
}
.header-message{
  margin: 0 auto;
  margin-top: -40px;
  padding: 0 246px;
  display: inline-block;
  position: absolute;
}

@media (max-width: 824px) {
	.header-message{
	  margin: 0 auto;
	  margin-top: 4px;
	  padding: 0 8px;
	  display: inline-block;
	  position: static;
	}
} 
.aAnalytics-logo{
margin-top: 6px;
}
.nav-menu{
	background: url(../assets/images/menu_bg.jpg) top;
	height: 30px;
}
.nav-menu .menu-link{
	margin:5px 25px;
}
.nav-menu a{
  padding: 2px 5px;
  color: #fff;
  font-weight: bold;
}