<div class="row">
    <div class="col-md-12">
        <form class="form-horizontal" ng-submit="searchEvents();">
            <div class="row">
                <div class="col-md-2 pull-right" style="margin-top:-28px;padding-left:50px">
                    <button type="button" class="btn btn-link" ng-hide="searchAdvanced" ng-click="searchAdvanced = !searchAdvanced"><i class="glyphicon glyphicon-chevron-down"></i> Advanced Search</button>
                    <button type="button" class="btn btn-link less-search" ng-show="searchAdvanced" ng-click="searchAdvanced = !searchAdvanced"><i class="glyphicon glyphicon-chevron-up"></i> Show less</button>
                </div>
            </div>
            <!--<div class="" ng-hide="searchAdvanced">
                <div class="">
                    <div class="row" ng-hide="!search.selectedDrug && !search.gender && !search.fromDate && !search.toDate && !search.age && !search.country">
                        <span ng-if="search.selectedDrug" style="margin:20px">
                            <b>Drug name : </b>{{search.selectedDrug.name}}
                        </span>
                        <span ng-if="search.gender" style="margin:20px">
                            <b>Gender : </b>{{search.gender}}
                        </span>
                        <span ng-if="search.fromDate" style="margin:20px">
                            <b>From Date : </b>{{search.fromDate | date:'MM/dd/yyyy'}}
                        </span>
                        <span ng-if="search.toDate" style="margin:20px">
                            <b>To Date : </b>{{search.toDate | date:'MM/dd/yyyy'}}
                        </span>

                        <span ng-if="search.age" style="margin:20px">
                            <b>Age : </b>{{search.age}}
                        </span>
                        <span ng-if="search.country" style="margin:20px">
                            <b>Country : </b>{{search.country.code}}
                        </span>

                    </div>
                    <br />
                </div>
            </div>-->
            <div class="panel panel-primary" ng-show="searchAdvanced">
                <div class="panel-body">
                    <div class="row">                        
                        <div class="col-md-10">                            
                            <div class="form-group">
                                <label for="inputDrug" class="col-md-2 col-sm-3 control-label">Select Drug</label>
                                <div class="col-md-10 col-sm-8 negative-margin">
                                    <angucomplete-alt id="searchDrug"
                                                      placeholder="Please type at least 3 characters to show the drug list"
                                                      pause="700"
                                                      selected-object="searchDrugChanged"
                                                      remote-url="{{serverUrl}}/drugs/name/"
                                                      remote-url-data-field="drugList"
                                                      title-field="name"
                                                      input-class="form-control input-sm"
                                                      minlength="3"
                                                      auto-match="true"
                                                      text-searching="Searching for drugs"
                                                      match-class="autocomplete-match" />
                                    <i class="glyphicon glyphicon-info-sign" title="Select a drug to see any adverse events reported for it."></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputFromDate" class="col-sm-3 control-label">Select Period</label>
                                <div class="col-sm-8">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdownFromDate" role="button" data-toggle="dropdown" data-target="#">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" data-ng-model="search.fromDate" datetime-formater="MM/dd/yyyy" placeholder="From Date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="search.fromDate" data-datetimepicker-config="{ dropdownSelector: '#dropdownFromDate',minView:'day'}" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <!--<label for="inputToDate" class="col-sm-3 control-label">To Date</label>-->
                                <div class="col-sm-offset-3 col-sm-8 col-md-offset-0">
                                    <div class="dropdown">
                                        <a class="dropdown-toggle" id="dropdownToDate" role="button" data-toggle="dropdown" data-target="#">
                                            <div class="input-group input-group-sm">
                                                <input type="text" class="form-control" data-ng-model="search.toDate" value="toDate" datetime-formater="MM/dd/yyyy" placeholder="To Date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                            </div>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                            <datetimepicker data-ng-model="search.toDate" data-datetimepicker-config="{ dropdownSelector: '#dropdownToDate', minView:'day' }" />
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputGender" class="col-sm-3 control-label">Gender</label>
                                <div class="col-sm-8">
                                    <select ng-model="search.gender" class="form-control input-sm">
                                        <option value="">Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Unknown">Unknown</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputAge" class="col-sm-3 control-label">Age Group</label>
                                <div class="col-sm-8">
                                    <select class="form-control input-sm" ng-model="search.age" ui-select2="{ allowClear: true}" data-placeholder="Select Age Group">
                                        <option value=""></option>
                                        <option ng-repeat="age in ageGroups" value="{{age.id}}">{{age.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputAge" class="col-sm-3 control-label">Weight Range</label>
                                <div class="col-sm-8">
                                    <select class="form-control input-sm" ng-model="search.weight" ui-select2="{ allowClear: true}" data-placeholder="Select Weight Range">
                                        <option value=""></option>
                                        <option ng-repeat="weight in weightGroups" value="{{weight.id}}">{{weight.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputCountry" class="col-sm-3 control-label">Country</label>
                                <div class="col-sm-8">
                                    <select ui-select2="{ allowClear: true}" class="form-control input-sm" ng-model="search.country" style="width:100%" data-placeholder="Select a Country">
                                        <option value=""></option>
                                        <option ng-repeat="country in countries" value="{{country.id}}">{{country.name}} - {{country.code}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">FDA Data</label>
                                <div class="col-sm-9">
                                    <div class="radio">
                                        <label title="The report runs on local database downloaded from FDA (https://open.fda.gov). Select this option when open FDA.gov is not available.">
                                            <input type="radio" name="dataPoints" id="dataPoints1" value="local" checked ng-model="apiDataPoint">
                                            Offline <i class="glyphicon glyphicon-info-sign"></i>
                                        </label>
                                        <label title="Data is retrieved in real time from FDA using open FDA APIs (https://open.fda.gov).">
                                            <input type="radio" name="dataPoints" id="dataPoints2" value="openfda" ng-model="apiDataPoint">
                                            Online
                                            <i class="glyphicon glyphicon-info-sign"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 pull-right">
                            <button type="button" class="btn btn-default btn-sm pull-right" ng-click="resetSearch()">Reset</button>
                            <button type="submit" class="btn btn-primary btn-sm pull-right" style="margin-right:10px">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>